@model IEnumerable<SignAndMarking.Models.Feature>

<div class="container p-3 ">
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-primary">Список Формфакторів</h2>
        </div>
        <div class="col-3 ">
            <a asp-controller="Feature" asp-action="Create" class="btn btn-outline-info float-end mx-2">
                <i class="fa-solid fa-plus"></i> &nbsp; Додати новий формфактор
            </a>           
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table  table-hover" style="width:100%">
            <thead>
            <tr>
                <th >
                    Назва формфактору
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="80%">@obj.Name</td>
                    <td>
                        <div class="btn-group text-center float-end" role="group" aria-label="Basic mixed styles example">
                            <a asp-controller="Feature" asp-action="Edit" asp-route-id="@obj.Id" type="button" class="btn btn-outline-primary">Редагувати</a>
                            <a asp-controller="Feature" asp-action="Delete" asp-route-id="@obj.Id" type="button" class="btn btn-outline-danger">Видалити</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
    }
    else
    {
        <p> Список формфакторів пустий (No feature exists) </p>
    }

</div>