@model SignAndMarking.Models.Product

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class=" border p-3">
        <div class="form-group row">
            <h2 class="text-primary">Видалити товар</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row mt-3">
                    <div class="col-5">
                        <label asp-for="Name" class="h5">Назва</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Name" disabled class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-5">
                        <label asp-for="Price" class="h5">Ціна</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Price" disabled class="form-control">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-5">
                        <label asp-for="ShortDesc" class="h5">Короткий опис товару</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="ShortDesc" disabled class="form-control">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-5">
                        <label asp-for="Description" class="h5">Повний опис</label>
                    </div>
                    <div class="col-7">
                        <textarea asp-for="Description" disabled class="form-control summernote" ></textarea>
                    </div>
                </div>
                
                <div class="form-group row mt-3">
                    <div class="col-5">
                        <label asp-for="Category.Name" class="h5">Категорія</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Category.Name" disabled  class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-5">
                        <label asp-for="Feature.Name" class="h5">Тип товару</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Feature.Name" disabled  class="form-control" />
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-9 offset-2 row">
                        <div class="col">
                            <button type="submit" onclick="return validateInput()" class="btn btn-outline-danger w-100">Видалити</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-secondary w-100">Назад <i class="fa-solid fa-right-from-bracket"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4 mt-3">
                <img src="@WC.ImagePath@Model.Image" width="100%" style="border-radius:5px; border:1px solid #bbb">
            </div>
        </div>

    </div>
</form>
@section Scripts
{
    @{
           <partial name="_ValidationScriptsPartial" />
       }
<script>

 $(document).ready(function () {
     $('.summernote').summernote({
         toolbar: [
            
           ],
            height:250,
            disable:true
     });
 });

</script>
}
